
/** 阿里巴巴OSS服务url的基础部分 */
$baseUrl : 'https://lcn-website.oss-cn-shenzhen.aliyuncs.com/website';


/** index(首页)头部未登录面板 */
@mixin no-login-plank-img-bg {
  background: url("#{$baseUrl}/page/index/header/danmu.png");
}



/** register(注册页面)的背景图 */
@mixin register-bg {
  background: url("#{$baseUrl}/page/register/register-bg.png") no-repeat fixed;
}



